
*.xcbuild
*.cmake
build/build/XCBuildData/build.db
build/build/XCBuildData/BuildDescriptionCacheIndex-f0f8716ff338dba474ab3337429d7d42
build/CMakeCache.txt
build/CMakeFiles/3.19.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/all-product-headers.yaml
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.d
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.dia
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.o
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC.LinkFileList
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC_dependency_info.dat
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.19.0-rc2/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
build/CMakeFiles/3.19.0-rc2/CompilerIdC/XCBuildData/build.db
build/CMakeFiles/3.19.0-rc2/CompilerIdC/XCBuildData/BuildDescriptionCacheIndex-06d703ee3354b0c17def19ab97b3fe7f
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/all-product-headers.yaml
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/XCBuildData/build.db
build/CMakeFiles/3.19.0-rc2/CompilerIdCXX/XCBuildData/BuildDescriptionCacheIndex-8153fb553aec242d1fff8a3bd59f11cd
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/freedomdrone_autogen.dir/AutogenInfo.json
build/CMakeFiles/freedomdrone_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/freedomdrone_autogen.dir/ParseCache_Debug.txt
build/CMakeFiles/TargetDirectories.txt
build/CMakeScripts/ReRunCMake.make
build/Debug/freedomdrone
build/freedomdrone.build/Debug/freedomdrone.build/DerivedSources/Entitlements.plist
build/freedomdrone.build/Debug/freedomdrone.build/freedomdrone.xcent
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/drone.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/drone.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/drone.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/free_point.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/free_point.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/free_point.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/free_polygon.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/free_polygon.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/free_polygon.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/freedomdrone.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/freedomdrone.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/freedomdrone.LinkFileList
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/freedomdrone.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/freedomdrone_dependency_info.dat
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/main.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/main.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/main.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mavlink_connection.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mavlink_connection.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mavlink_connection.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mavlink_socket.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mavlink_socket.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mavlink_socket.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/message_types.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/message_types.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/message_types.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mocs_compilation.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mocs_compilation.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/mocs_compilation.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/qt_free_polygon.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/qt_free_polygon.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/qt_free_polygon.o
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/search_algorithm.d
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/search_algorithm.dia
build/freedomdrone.build/Debug/freedomdrone.build/Objects-normal/x86_64/search_algorithm.o
build/freedomdrone.build/Debug/freedomdrone_autogen.build/Script-ECE8763A8B8942648B1AC4F4.sh
build/freedomdrone.build/Debug/ZERO_CHECK.build/Script-EA8DBC649DA74B2E88754587.sh
build/freedomdrone.xcodeproj/project.pbxproj
build/freedomdrone.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
build/freedomdrone.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/freedomdrone.xcodeproj/project.xcworkspace/xcuserdata/kangzhiyong.xcuserdatad/UserInterfaceState.xcuserstate
build/freedomdrone.xcodeproj/project.xcworkspace/xcuserdata/kangzhiyong.xcuserdatad/WorkspaceSettings.xcsettings
build/freedomdrone.xcodeproj/xcuserdata/kangzhiyong.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
build/freedomdrone.xcodeproj/xcuserdata/kangzhiyong.xcuserdatad/xcschemes/xcschememanagement.plist
build/freedomdrone_autogen/moc_predefs_Debug.h
build/freedomdrone_autogen/mocs_compilation.cpp
python/jupyter notebook/3DMotionPlanning/__pycache__/planning_utils.cpython-36.pyc
python/jupyter notebook/3DMotionPlanning/__pycache__/sampling.cpython-36.pyc
python/jupyter notebook/3DMotionPlanning/Logs/TLog.txt
python/jupyter notebook/3DMotionPlanning/__pycache__/sampling.cpython-36.pyc
python/jupyter notebook/3DMotionPlanning/__pycache__/planning_utils.cpython-36.pyc
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/cmake.db
/.vs/freedomdrone/v16/.suo
/.vs/freedomdrone/v16/Browse.VC.db
/.vs/freedomdrone/v16/Browse.VC.db-shm
/.vs/freedomdrone/v16/Browse.VC.db-wal
/.vs/freedomdrone/v16/Browse.VC.opendb
/.vs/freedomdrone/v16/ipch/AutoPCH/23a27390087d1ffa/SEARCH_ALGORITHM.ipch
/.vs/freedomdrone/v16/ipch/AutoPCH/477673298afbd86c/MAIN.ipch
/.vs/freedomdrone/v16/ipch/AutoPCH/6dd2269991bdc3af/FREEDOMDRONE.ipch
/.vs/freedomdrone/v16/ipch/AutoPCH/b79b94ca5a501802/MAVLINK_CONNECTION.ipch
/.vs/freedomdrone/v16/ipch/AutoPCH/ccba85d1411db005/DRONE.ipch
/.vs/freedomdrone/v16/ipch/AutoPCH/f77273bd25b8b376/MAIN.ipch
/.vs/slnx.sqlite
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/algorithm/free_point.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/algorithm/free_polygon.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/algorithm/qt_free_polygon.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/algorithm/search_algorithm.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/connection/mavlink_connection.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/connection/mavlink_socket.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/connection/message_types.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/drone.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/freedomdrone.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/freedomdrone_autogen/mocs_compilation.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone.dir/main.cpp.obj
/out/build/x64-Debug/CMakeFiles/freedomdrone_autogen.dir/AutogenInfo.json
/out/build/x64-Debug/CMakeFiles/freedomdrone_autogen.dir/AutogenUsed.txt
/out/build/x64-Debug/CMakeFiles/freedomdrone_autogen.dir/ParseCache.txt
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/freedomdrone.exe
/out/build/x64-Debug/freedomdrone.exe.manifest
/out/build/x64-Debug/freedomdrone_autogen/mocs_compilation.cpp
/out/build/x64-Debug/rules.ninja
